# Visual Studio files
.vs/
ipch/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Win32/
ARM/
ARM64/

# Windows Driver Kit specific
*.wrn
*.err
*.log
*.tlog
*.lastbuildstate
*.pdb
*.sys
*.cat
*.inf.codeanalysis
*.tmh

# Driver signing files
*.cer
*.pfx
*.pvk
*.sst
*.stl

# WPP Tracing
*_tmh.h

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.VC.opendb

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# ETW
*_etw.h
*_etw.c

# Kernel dumps
*.dmp
*.hdmp
*.mdmp

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Other common files to ignore
*.bak
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
